#logoutBtn{
    position:fixed;
    bottom:20px;
    left:20px;

    background:#2e7d32;
    color:white;

    padding:6px 12px !important;
    font-size:12px !important;

    border:none;
    border-radius:20px;

    cursor:pointer;
    z-index:1000;

    width:auto;
    min-width:auto;

    box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

#logoutBtn:hover{
    background:#1b5e20;
}
